<nav class="sidemenu">
  <ul>
    <li routerLink="/home">
      <img src="../../../assets/logo.png" width="40px" alt="logo" />
      <span class="logo">Crud Users</span>
    </li>
    <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
    <li routerLink="/usuarios"><mat-icon>person_add</mat-icon>Cadastrar usuários</li>
    <a href="https://firebase.google.com/docs?hl=pt-br&_gl=1*udkbsm*_up*MQ..&gclid=Cj0KCQiA_9u5BhCUARIsABbMSPuU3nvUsdOuqmCSPPFNV41zk4bwiMwUnFsb1u3o3RyLq8HG7x_XXcwaAkqkEALw_wcB&gclsrc=aw.ds" target="_blank"><li><mat-icon>local_fire_department</mat-icon>Firebase</li></a>
    <a href="https://angular.dev" target="_blank"><li><mat-icon>description</mat-icon>Angular</li></a>
    <li class="logout" routerLink="/login"><mat-icon>logoout</mat-icon>Sair</li>
  </ul>
</nav>
